/* 📱 MÓVIL (base) */
@media (max-width: 768px) {

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  /* móvil */
  body {
    overflow-x: hidden;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    /* una sola columna */
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header"
      "NavResponsive"
      "main"
      "footer";
  }

  header {
    background: linear-gradient(to right, #51A2FF, #BEDBFF);
    border-block-end: 1px solid rgb(255, 255, 255, 0.6);
    height: auto;
    position: sticky;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "Menu Divition_Header_Search Divition_Header_RegisterUser";
    border-radius: 0px;
    padding: 10px;
    gap: 5px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    grid-area: header;
  }

  #navegation {
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: white;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100vh;
    animation: all 0.5s ease;
    width: 100%;
    transform: translateX(-150%);
    transition: all 0.5s ease;
  }

  .svgnav {
    width: 25px;
  }

  .Regresar {
    border: 1px solid rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #052f4a;
  }

  #btnRegresar {
    color: white;
    padding: 10px;
    border-radius: 50%;
  }

  #Reverse:active {
    background-color: #7bd463;
  }

  /* =========================
   NAV RESPONSIVE DEBAJO
========================= */
  .NavResponsive {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;
    padding: 4px;
    background: linear-gradient(to right, #31c950, #05df72);
    box-sizing: border-box;
  }


  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-area: main;
  }

  footer {
    width: 100%;
    grid-area: footer;
    position: relative;
    bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* Nav Responsive*/
  #logoUser_UserName {
    width: fit-content;
    height: 100%;
  }


  .RutasNav {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }

  .RutasNav ul {
    gap: 10px;
    flex-wrap: wrap;
  }

  /* Menu  */

  .Divition_ProfileMenu {
    border-radius: 5px;
    align-items: center;
    margin: 5px;
    padding: 2px;
    display: none;
  }

  .Profile_User {
    padding: 2px;
    border-radius: 5px;
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #ProfileUser {
    gap: 5px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
  }

  /* Usuario */
  #logoUser_UserName {
    position: relative;
    left: 0;
    gap: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    padding: 5px;
  }

  #LogoParaElUsuario {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  #logoUser_UserName span {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(15px, 6vw, 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* Rutas */
  .RutasNav {
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
  }


  .RutasNav ul {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  #svg {
    color: white;
    border-radius: 50%;
    width: 25px;
    border: 2px solid rgba(255, 255, 255, 0.6);
  }


  .Options {
    margin: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #LabelOptions {
    font-size: 20px;
    color: white;
    font-family: system-ui;
    text-align: center;
    width: fit-content;
  }

  #SelectCategories {
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  #SelectCategories:active {
    color: rgba(157, 255, 0, 0.6);
    scale: 1.1;
  }

  .CajaCarrito {
    margin: 2px;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }

  #Carrito {
    text-align: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    color: white;

    svg {
      transition: all 0.3s ease;
      width: 20px;
      height: 20px;
    }
  }

  #SvgCarrito:active {
    scale: 1.1;
    color: rgba(157, 255, 0, 0.6);
  }

  .Menu {
    grid-area: Menu;
    display: block;
    text-align: center;
  }

  #MenuAmburguesa {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    outline: none;
    padding: 2px 5px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    margin: 5px;
    transition: all 0.3s ease;
  }

  #MenuAmburguesa:active {
    color: rgba(157, 255, 0, 0.6);
    scale: 1.1;
  }

  /* /* Search */
  #Search_Products {
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px;
    margin: 0;
    outline: none;
    border: none;
    font-size: 13px;
    border-radius: 4px;
    text-shadow: 1px 1px 2px #404040;
    box-shadow: 2px 1px 5px #21bcff;
  }

  #BuscarBtn {
    display: none;
  }

  .Divition_Header_Search {
    grid-area: Divition_Header_Search;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Login */
  .Divition_Header_RegisterUser {
    display: block;
    grid-area: Divition_Header_RegisterUser;
  }

  .UserLogin {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #CajaIr_Login {
    align-items: center;
  }

  #Login {
    border: 1px solid #ffffff99;
    text-align: center;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
    place-content: center;

    a {
      width: fit-content;
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 0.9rem;
    }
  }

  #svglogin {
    display: none;
    width: 15%;
    color: white;
    border-radius: 50%;
  }

  /* navegation lateral  */

  .Ecomerce_NavNameAndListas {
    align-items: center;
    box-shadow: 10px 10px 50px 5px #052f4a;
    background: linear-gradient(to right, #052f4a, #052f5e);
    width: 65%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    margin: 1px;
    flex-direction: column;
  }

  .LogoEcomerce {
    margin: 5px;
    background: linear-gradient(to right, #51A2FF, #bedbff);
    height: 65px;
    width: 95%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 5px;
    box-shadow: 2px 5px 10px 5px #052f4a;
  }


  #Ecomerce {
    width: 100%;
    text-shadow: 1px 2px 5px 10px #d62323;
    font-family: fantasy;
    font-size: 25px;
    align-items: center;
    transition: all 0.5s ease;
    overflow-x: hidden;
  }

  #Ecomerce::before {
    border-radius: 2px;
    transition: 0.3s ease;
    content: '';
    background-color: #052F4A;
    height: 25px;
    width: 4px;
    position: relative;
    margin-right: 2px;
    display: inline-block;
  }

  #LogoImg {
    background-image: url(/Public/imagenes/Ecommerce.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 4px;
  }

  .Ul_Ecomerce {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 5px;
    width: 230px;
    border-radius: 4px;
  }

  .liNav {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 4px;
  }

  .liNav:active {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .ecommerce{
    background-color: rgba(240, 240, 240, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: 2px;
    padding: 10px;
    border-radius: 4px;
  }

  /* Section Top Diez Productos*/

  .top-products{
    background-color: green;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}